<p id="notice"><%= notice %></p>

<p>
  <b>Formatid:</b>
  <%= @mgamedefinition.formatid %>
</p>

<p>
  <b>Typeid:</b>
  <%= @mgamedefinition.typeid %>
</p>

<p>
  <b>Min players:</b>
  <%= @mgamedefinition.min_players %>
</p>

<p>
  <b>Max players:</b>
  <%= @mgamedefinition.max_players %>
</p>

<p>
  <b>Entryfee:</b>
  <%= @mgamedefinition.entryfee %>
</p>

<p>
  <b>Drop pts:</b>
  <%= @mgamedefinition.drop_pts %>
</p>

<p>
  <b>Maxscore:</b>
  <%= @mgamedefinition.maxscore %>
</p>

<p>
  <b>Usebot:</b>
  <%= @mgamedefinition.usebot %>
</p>

<p>
  <b>Note:</b>
  <%= @mgamedefinition.note %>
</p>

<p>
  <b>Min ante:</b>
  <%= @mgamedefinition.min_ante %>
</p>

<p>
  <b>Max ante:</b>
  <%= @mgamedefinition.max_ante %>
</p>

<p>
  <b>Min buyin:</b>
  <%= @mgamedefinition.min_buyin %>
</p>

<p>
  <b>Max buyin:</b>
  <%= @mgamedefinition.max_buyin %>
</p>

<p>
  <b>Min stake:</b>
  <%= @mgamedefinition.min_stake %>
</p>

<p>
  <b>Max stake:</b>
  <%= @mgamedefinition.max_stake %>
</p>

<p>
  <b>Gametimer:</b>
  <%= @mgamedefinition.gametimer %>
</p>


<%= link_to 'Edit', edit_mgamedefinition_path(@mgamedefinition) %> |
<%= link_to 'Back', mgamedefinitions_path %>
