<p id="notice"><%= notice %></p>

<p>
  <b>C code:</b>
  <%= @amendment.c_code %>
</p>

<p>
  <b>C name:</b>
  <%= @amendment.c_name %>
</p>

<p>
  <b>Tran:</b>
  <%= @amendment.tran_id %>
</p>

<p>
  <b>Priority:</b>
  <%= @amendment.priority %>
</p>


<%= link_to 'Edit', edit_amendment_path(@amendment) %> |
<%= link_to 'Back', amendments_path %>
